# Ignore everything by default
*

.DS_Store

# Keep folders themselves (needed so Git can descend)
!*/

# Whitelist specific folders
!/patchers/
!/patchers/**
!/score/
!/score/**
!/audio/

# Whitelist specific file
!/ONLINE_main.maxpat
!/.gitignore
!/.gitattributes